.chat-list {
  > div {
    cursor: pointer;

    &:hover {
      background-color: #F2F1F1;
    }
  }
}

.border-bottom-gray {
  border-bottom: 1px solid #CCC;
}

.msg-date {
  font-size: 0.7rem;

  &.unread {
    color: #1FA855;
    font-weight: 500;
  }
}

.unread-msg-badge {
  background: #1FA555;
  color: #FFF;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
